<% include base/user_header %>
  <div class="user-mid-content clearfix">
    <div class="mid-content-item">
      <div class="sales-items">
        <h2>Sales info</h2>
        <p>Today's sales: <span>ksh. 5,080.00</span></p>
        <p>Week sales: <span>ksh. 26,720.00</span></p>
      </div>
      <div class="new-sale-btn">
        <a href="">Make New Sale</a>
      </div>
    </div>
    <div class="mid-content-item">
      <h2>Stock running out</h2>
      <table class="table table-hover">
        <tr><th>Product</th><th>Total</th></tr>
        <tr><td>Super load Bread</td><td>3</td></tr>
        <tr><td>Panga soap</td><td>1</td></tr>
      </table>
      <div class="view-report-btn">
        <a href="">View report</a>
      </div>
    </div>
    <div class="mid-content-item">
      <h2>Credit</h2>
      <p>Owes: <span>ksh. 4,000.00</span></p>
      <p>Owed: <span>ksh. 200.00</span></p>
      <div class="view-report-btn">
        <a href="">View report</a>
      </div>
    </div>
    <div class="mid-content-item">
      <h2>Items expiring</h2>
      <table class="table table-hover">
        <tr><th>Product</th><th>Total</th><th>Expiring date</th><th>Days Remaining</th></tr>
        <tr><td>Super load Bread</td><td>5</td><td>14/12/2019</td><td>5 days</td></tr>
      </table>
      <div class="view-report-btn">
        <a href="">View report</a>
      </div>
    </div>
  </div>
<% include base/user_footer %>
