<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/style.css">
  <link rel="stylesheet" type="text/css" href="assets/dashboard.css">
  <title></title>
</head>
<body>
  <header>
    <div class="logo float-left">
      <img src="images/logo-label-white.png"/>
    </div>
    <div class="menu clearfix">
      <div class="menu-top">
        <ul>
          <li><a href="">Pricing</a></li>
          <li><a href="">Support & help</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
      <div class="menu-bottom">
        <ul>
          <li>Curent business: <a href="">Cilo designs</a></li>
        </ul>
      </div>
    </div>
  </header>
