<%- include base/header %>
<div class="banner">
  <div class="banner-info">
    <h1>ONLINE ACCOUNTING SOFTWARE WITH POS FOR SMALL BUSINESSES</h1>
    <p>
      ZAPI-Retail is an online accounting system that enables you to manage
      your business from any where, with any devices (mobile, desktop or
      tablet).
    </p>
    <p>
      <div class="home-call-to-action-btn">
        <a href="">I AM INTERESTED</a>
      </div>
    </p>
  </div>
</div>
<div class="home-about">
  <h1>Why you should choose ZAPI-Retail for your business</h1>
  <div class="home-about-item float-left">
    <div class="home-about-item-img">
      <img src="images/img2.jpeg"/>
    </div>
    <div class="home-about-item-info">
      <h2>Real-time reports:</h2>
      <p>
        It's available on desktop, mobile and tab. You can monitor business activity
        at any time of the day.
      </p>
    </div>
  </div>
  <div class="home-about-item float-left">
    <div class="home-about-item-img">
      <img src="images/img3.jpeg"/>
    </div>
    <div class="home-about-item-info">
      <h2>Accounting:</h2>
      <p>
        It has balance sheet, income statements and profit & loss reports. You be
        able to analyse your business performance
      </p>
    </div>
  </div>
  <div class="home-about-item float-left">
    <div class="home-about-item-img">
      <img src="images/img4.jpg"/>
    </div>
    <div class="home-about-item-info">
      <h2>POS:</h2>
      <p>
        It has a POS module for both product and services sales. For products,
         you can also intergrate it to a bar-code scanner.
      </p>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="home-pricing">
  <h1>Simple and affordable pricing</h1>
  <div class="home-pricing-items">
    <div class="home-pricing-item basic-price float-left">
      <h3>BASIC</h3>
      <h1>ksh. 500</h1>
      <ul>
        <li>per month</li>
        <li>per business</li>
        <li>2 users</li>
    </div>
    <div class="home-pricing-item standard-price float-left">
      <h3>STANDARD</h3>
      <h1>ksh. 1000</h1>
      <ul>
        <li>per month</li>
        <li>per business</li>
        <li>5 users</li>
    </div>
    <div class="home-pricing-item enterprise-price float-left">
      <h3>ENTERPRISE</h3>
      <h1>ksh. 2500</h1>
      <ul>
        <li>per month</li>
        <li>per business</li>
        <li>10 users</li>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<%- include base/footer %>
