<% include base/user_header %>
<div class="user-mid-content clearfix">
  <div class="mid-content-item">
    <h2>Stocks</h2>
    <div class="create-page-item-link"><a href="">add stock</a></div>
    <div class="page-search">
      <form>
        <input name="item" type="text" placeholder="Search..."/>
      </form>
    </div>
    <table class="table table-hover">
      <tr>
        <th></th>
        <th>Product</th>
        <th>Total</th>
        <th></th>
      </tr>
      <tr>
        <td>1</td>
        <td>Colgate</td>
        <td>3</td>
        <td><a href="">Edit</a>  <a>|</a>  <a href="">Delete</a></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Aquafresh</td>
        <td>3</td>
        <td><a href="">Edit</a>  <a>|</a>  <a href="">Delete</a></td>
      </tr>
    </table>
    <div class="mid-content-item-footer">
      <div>
        <ul>
          <li><a href="">Import</a></li>
          <li><a href="">Export</a></li>
          <li><a href="">Email</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mid-content-item">
    <h2>Add stock</h2>
    <div class="page-form">
      <form>
        <div>
          <p>
            <div class="form-group">
              <label for="inputState">Product cartegory</label>
              <select id="inputState" class="form-control">
                <option selected>Choose cartegory...</option>
                <option>...</option>
              </select>
            </div>
          </p>
        </div>
        <div>
          <p>
            <div class="form-group">
              <label for="inputState">Product</label>
              <select id="inputState" class="form-control">
                <option selected>Choose product...</option>
                <option>...</option>
              </select>
            </div>
          </p>
        </div>
        <div>
          <p><lable>Amount:</label></p>
          <p><input name="amount" type="text"/></p>
        </div>
        <div>
          <input name="name" type="submit" value="Add stock"/>
        </div>
      </form>
    </div>
  </div>
</div>
<% include base/user_footer %>
