<% include base/user_header %>
<div class="user-mid-content">
  <div class="mid-content-item">
    <div class="mid-content-item-header clearfix">
      <h2 class="float-left">Edit employee</h2>
      <div class="create-page-item-link float-right">
        <a href="/suppliers">Go Back </a>
      </div>
    </div>
    <div class="page-form">
      <form action="/suppliers/update" method="POST">
        <div>
          <p><lable>Name:</label></p>
          <p><input name="supplier_name" type="text" value="<%= supplier.name %>"/></p>
          <input name="supplier_id" type="hidden" value="<%= supplier.supplier_id %>"/>
        </div>
        <div>
          <p><lable>Email:</label></p>
          <p><input name="email" type="text" value="<%= supplier.email %>"/></p>
        </div>
        <div>
          <p><lable>Phone:</label></p>
          <p><input name="phone" type="text" value="<%= supplier.phone %>"/></p>
        </div>
        <div>
          <p><lable>Products:</label></p>
          <p><textarea name="products" placeholder="Type product..."></textarea></p>
        </div>
        <div>
          <input name="name" type="submit" value="Edit"/>
        </div>
      </form>
    </div>
  </div>
</div>
<% include base/user_footer %>
