body{
  background:#f5f5f5;
}
.menu{
  width:30%;
  margin-left:70%;
  margin-top:5px;
}
.menu li{
  display:inline;
  margin-left:15px;
}
.menu a{
  font-size: 14px;
  font-weight:600;
  color:#ffffff;
}
.menu-top{
  margin-top:5px;
}
.menu-bottom{
  margin-top:5px;
  color:#ffffff;
}
.user-content{
  width:100%;
}
.user-content-menu{
  width:20%;
  position: static;
  left:0;
  z-index: -1;
  background:#292828;
}
.user-content-menu ul{
  margin-top:20px;
}
.user-content-menu li{
  border-bottom:#ebebeb solid 1px;
  padding:10px;
}
.user-content-menu li:hover{
  background: #454343;
}
.user-content-menu li a{
  color:#ebebeb;
  text-decoration: none;
}
.user-content-menu .current{
  background: #ffffff;
}
.user-content-menu .current:hover{
  background: #ffffff;
}
.user-content-menu .current a{
  color: #212121;
}
.user-mid-content{
  width:80%;
  margin-left:20%;
}
.mid-content-item{
  background:#ffffff;
  border-bottom: #e8e8e8 solid 3px;
  padding:20px;
  width:95%;
  margin-bottom:10px;
}
.mid-content-item h2{
  font-size:25px;
  font-weight:600;
}
.mid-content-item .sales-items p{
  font-size:18px;
}
.mid-content-item span{
  font-size: 20px;
  font-weight:600;
  color:#0b428f;
}
.mid-content-item .new-sale-btn, .mid-content-item .view-report-btn{
  background:#64b048;
  padding:10px;
  text-align: center;
  width:20%;
  margin-left:75%;
  border-bottom: #e8e8e8 solid 3px;
}
.mid-content-item .view-report-btn{
  background:#dddddd;
}
.mid-content-item .new-sale-btn a, .mid-content-item .view-report-btn a{
  color:#ffffff;
  font-weight: 600;
  font-size: 18px;
}
.mid-content-item .view-report-btn a{
  color:#292828;
}
.mid-content-item table td{
  color:#db0d0d;
}
