</div>
<footer>
  <div class="company-info">
    <div class="about-us float-left">
      <h3>Trascope solutions</h3>
        We offer services for small-mid size businesses in East Africa.
        You can check out <a href="">our company profile&#10148;</a>
    </div>
    <div class="products float-left">
      <h3>Products</h3>
        <ul>
          <li><a href="">Zapi-Retail</a></li>
          <li><a href="">Zapi-Fleet</a></li>
          <li><a href="">Zapi-Rental</a></li>
          <li><a href="">Zapi-Mini</a></li>
        </ul>
    </div>
    <div class="services float-left">
      <h3>Services</h3>
        <ul>
          <li><a href="">IT office support</a></li>
          <li><a href="">Cyber security consultancy</a></li>
          <li><a href="">Cyber security staff training</a></li>
        </ul>
    </div>
    <div class="contacts clearfix">
      <h3>Contacts</h3>
        <p>
          Phone: 0718 485 173,
        </p>
        <p>
          Email: info@trascope-solutions.co.ke,
        </p>
        <p>
          Location: Nairobi, Kenya.
        </p>
    </div>
  </div>
  <div class="copyright">
    All content copyright <%= new Date().getFullYear() %>.
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
